# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# Virtual environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
**/__pycache__/
**/*.py[cod]
docker-compose.override.yml
*.db

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
dist/
build/
*.tgz

# Environment files
*.env
.env.*
